nav {
  background-color: #f0f0f7;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: #5d5d5d;
  text-decoration: none;
}

nav ul li a:hover {
  color: #4B0082;
}